* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section__container {
  width: 50%;
}
