* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.app__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section__container {
  width: 50%;
}

.loading-message {
  padding-top: 2rem;
}
